<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sunachousekeeper.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8B7D860B7161893956DDACBAF7C948646EFF165D</string>
				<key>dateExpires</key>
				<string>2023/2/8</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B7D860B7161893956DDACBAF7C948646EFF165D</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L98437J77</string>
						<key>name</key>
						<string>Tianjin Sunac Aocheng Investment co., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B7D860B7161893956DDACBAF7C948646EFF165D</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L98437J77</string>
						<key>name</key>
						<string>Tianjin Sunac Aocheng Investment co., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B7D860B7161893956DDACBAF7C948646EFF165D</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FDFullscreenPopGesture.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L98437J77</string>
						<key>name</key>
						<string>Tianjin Sunac Aocheng Investment co., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B7D860B7161893956DDACBAF7C948646EFF165D</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HandyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L98437J77</string>
						<key>name</key>
						<string>Tianjin Sunac Aocheng Investment co., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B7D860B7161893956DDACBAF7C948646EFF165D</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L98437J77</string>
						<key>name</key>
						<string>Tianjin Sunac Aocheng Investment co., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B7D860B7161893956DDACBAF7C948646EFF165D</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainItemWrapper_Copy.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L98437J77</string>
						<key>name</key>
						<string>Tianjin Sunac Aocheng Investment co., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B7D860B7161893956DDACBAF7C948646EFF165D</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LZViewPager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L98437J77</string>
						<key>name</key>
						<string>Tianjin Sunac Aocheng Investment co., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B7D860B7161893956DDACBAF7C948646EFF165D</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L98437J77</string>
						<key>name</key>
						<string>Tianjin Sunac Aocheng Investment co., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B7D860B7161893956DDACBAF7C948646EFF165D</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L98437J77</string>
						<key>name</key>
						<string>Tianjin Sunac Aocheng Investment co., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B7D860B7161893956DDACBAF7C948646EFF165D</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L98437J77</string>
						<key>name</key>
						<string>Tianjin Sunac Aocheng Investment co., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B7D860B7161893956DDACBAF7C948646EFF165D</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L98437J77</string>
						<key>name</key>
						<string>Tianjin Sunac Aocheng Investment co., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B7D860B7161893956DDACBAF7C948646EFF165D</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L98437J77</string>
						<key>name</key>
						<string>Tianjin Sunac Aocheng Investment co., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B7D860B7161893956DDACBAF7C948646EFF165D</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SGQRCode.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L98437J77</string>
						<key>name</key>
						<string>Tianjin Sunac Aocheng Investment co., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B7D860B7161893956DDACBAF7C948646EFF165D</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L98437J77</string>
						<key>name</key>
						<string>Tianjin Sunac Aocheng Investment co., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B7D860B7161893956DDACBAF7C948646EFF165D</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L98437J77</string>
						<key>name</key>
						<string>Tianjin Sunac Aocheng Investment co., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B7D860B7161893956DDACBAF7C948646EFF165D</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UITableView_FDTemplateLayoutCell.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L98437J77</string>
						<key>name</key>
						<string>Tianjin Sunac Aocheng Investment co., LTD</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8B7D860B7161893956DDACBAF7C948646EFF165D</string>
						<key>dateExpires</key>
						<string>2023/2/8</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WYPopoverController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2L98437J77</string>
						<key>name</key>
						<string>Tianjin Sunac Aocheng Investment co., LTD</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2L98437J77.com.sunacwy.staff.sunachousekeeper</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2L98437J77</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Sunachousekeeper.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>833c122a-82e3-4c0a-b1e7-909c34ec80b2</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.sunacwy.staff.sunachousekeeper</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2L98437J77</string>
				<key>name</key>
				<string>Tianjin Sunac Aocheng Investment co., LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
